node_modules/
.pnpm-debug.log*
.env.local
.DS_Store
build/
dist/
.husky/

# Ignore generic env files
.env
.env.*
!.env.example

# Next.js build output
.next/

# Supabase generated folders
supabase/.temp/

# Logs
*.log

# Mac system files
.DS_Store 